<header class="site-header">
	<div class="branding">
		{% if site.theme.gravatar %}
		<a href="/resume/">
			<img class="avatar" src="https://secure.gravatar.com/avatar/{{ site.theme.gravatar }}?s=100" alt=""/>
		</a>
		{% elsif site.theme.avatar %}
		<a href="/resume/">
			<img class="avatar" src="/img/{{ site.theme.avatar }}" alt=""/>
		</a>
		{% endif %}
		<h1 class="site-title">
			<a href="{{ site.baseurl }}/">{{ site.theme.home_title }}</a>
		</h1>
	</div>
	<nav class="site-nav">
		<ul>

			<li>
				<a class="page-link" href="/about/">
					关于
				</a>
			</li>

			<li>
				<a href="https://github.com/sfsheng0322">
					<img class="github" src="/img/icon_github.png" alt=""/>
				</a>
			</li>

		</ul>
	</nav>
</header>
